
#header-nav {
	border-radius: 0px;
}
.navbar-brand {
	padding-top: 30px;
}
.navbar-header {
	height: 70px;
}
.navbar-brand a {
	text-decoration: none;
  }
   h1, h3 {
  	color: black;
  }
  .navbar-brand h1 
  { 
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

p {
	text-align: justify;
}
.grey {
	background: grey;
}
ul > li {
	text-align: center;
	background-color: white;
	border-bottom: 2px solid black;
}